<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>helloworld</title>
    <script type="text/javascript" src='../assets/js/vue.js'></script>
</head>
<body>
    <h1>helloworld 实例</h1>
    <hr>
    <div id="app">
        <label><input type="checkbox"  v-model='isok' v-on:click='demo'/> 全选/反选</label>
       <ul>
            <li v-for="item in items">
                <input type="checkbox" :value='item' v-model='itemsd' v-on:click='demo2'/>
            </li>
       </ul>
       <p>{{ itemsd }}</p>
    </div>
    <script type="text/javascript">
        var app=new Vue({
            el:'#app',
            data:{
               items:[5,6,7,8,9,1,2],
               itemsd:[],
               isok:false
            },
            methods:{
                demo:function(){
                    debugger
                    if( !this.isok){
                        this.items.forEach(function (fruit) {
                            debugger;
                            this.itemsd.push(fruit);
                        }, this)
                     
                    }else{
                      this.itemsd=[]
                    }
                },
                demo2:function(){
                    debugger;
                    if(this.items.length==this.itemsd.length+1){
                        this.isok=true;
                      
                        
                    }else{
                        this.isok=false;
                    }
                }
            }
        })
    
    </script>
</body>
</html>